* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #778899;
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    display: none;
}

.container {
    width: 95%;
    margin: 0 auto;
}

header {
    padding: 20px 0;
    background-color: #aabbcc;
    text-align: center;
}

header h2 {
    padding: 10px 0;
}

header form fieldset {
    border: none;
    text-align: right;
}

header form input {
    display: inline-block;
    padding: 10px;
    text-align: right;
}

header form button {
    display: inline-block;
    padding: 10px;
    /* border: none; */
}

/* -------------- Estilo de la tabla -------------------- */

main .wrap-table {
    overflow-x: auto;
    background-color: rgba(170, 187, 204, .7);
}

#data table {
    border-collapse: collapse;  
    width: 100%;
}

#data table tr:nth-child(odd) {
    background-color: #aabbcc;
}

#data table tr:hover {
    background-color: #778899;
}

#data table tr {
    border-bottom: 1px solid #e1e1e1;
    padding-left: 10px;
}

#data table tr:first-child {
    position: sticky;
    top: 0px;
}

#data table tr:last-child {
    border: none;
}

#data table th, #data table td {
    padding: 5px 8px;
    text-align: left;
}

#data table th {
    background-color: #e1e1e1;
    padding-top: 10px;
    padding-bottom: 10px;
}

#data table th:first-child, #data table td:first-child {
    padding-left: 16px;
    text-align: left;
}

/* ------------ Fin tabla--------------------------- */

footer {
    padding: 10px 16px;
    background-color: #aabbcc;
}